



.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    width: 23%; 
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }

  


/* Boton ver mas */
.ver-mas {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  background-color: #ffbf00;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

/* item detail */
.item-card {
  max-width: 500px; 
  margin: 0 auto;
  padding: 20px;
  border: 1px solid hsl(124, 100%, 51%); 
  border-radius: 10px; 
  text-align: center; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.item-card img {
  max-width: 100%; 
  border-radius: 10px;
}

.item-card h2 {
  font-size: 1.5rem; 
}

